body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.btn {
    font-size: 2em;
}

input {
    background-color: black;
    max-width: 500px;
    margin: 0 auto;
}